@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(nKKZ-Go6G5tXcrabGwU-183b5abd.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: url(nKKU-Go6G5tXcr5mOBWpVaQ-96af1b03.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  src: url(nKKU-Go6G5tXcr5KPxWpVaQ-216542f3.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: url(nKKU-Go6G5tXcr4uPhWpVaQ-9cb9f4f6.ttf) format('truetype');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: url(VuJodNDF2Yv9qppOePKYRP12YwtUn0s-6b034821.ttf) format('truetype');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: url(VuJrdNDF2Yv9qppOePKYRP12YwPhulvchDA-fefe3cb9.ttf) format('truetype');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: url(VuJ2dNDF2Yv9qppOePKYRP12aDtd-b63fe237.ttf) format('truetype');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: url(VuJpdNDF2Yv9qppOePKYRP1-3R5NtmvV-826beae4.ttf) format('truetype');
}
